TARGET=$(cat .target)
export TARGET

if [[ $TARGET == "android" ]]
then 
    LD_LIBRARY_PATH="$(pwd)/lib/aarch64-linux-android"
elif [[ $TARGET == "linux" ]]
then
    LD_LIBRARY_PATH="$(pwd)/lib/x86_64-unkown-linux-gnu"
else
    echo "Use correct target"
    exit 1
fi

export LD_LIBRARY_PATH

use flake

dotenv ".env.$TARGET"
watch_file .env.android
watch_file .env.linux
watch_file .target
